
.root {
    /* Theme colours */
    -fx-background-col: #070707;
    -fx-foreground-col: #151515;
    -fx-selector-col: #0e0e0e;
    -fx-darker-col: #000000;
    -fx-contrast-col: #FFFFFF;
    -fx-lighter-col: #383838;

    /* Default font styles */
    -fx-text-fill: -fx-contrast-col;
}

/* Misc sizes */

.small-field {
    -fx-pref-width: 255;
}

.tiny-field {
    -fx-pref-width: 140;
}

.longer-button {
    -fx-pref-width: 265;
    -fx-padding: 10;
}

.text-field, .choice-box, .combo-box {
    -fx-font-size: 24;
    -fx-pref-height: 36;
}

.text-area {
    -fx-font-size: 24;
    -fx-pref-height: 170;
}

.input-container {
    -fx-spacing: 20;
    -fx-pref-size: 450;
}


.text-area, .text-field, .choice-box, .combo-box {
    -fx-background-color: -fx-foreground-col;
    -fx-pref-width: 415;
}

.course-card {
    -fx-pref-width: 360;
    -fx-background-color: -fx-foreground-col;
    -fx-border-color: -fx-contrast-col;
    -fx-border-width: 2;
    -fx-padding: 10;
}

/* Some font sizes */

.huge-title {
    -fx-font-size: 96;
}

.large-title {
    -fx-font-size: 48;
}

.medium-title {
    -fx-font-size: 36;
}

.medium-text {
    -fx-font-size: 24;
}

.link:hover {
    -fx-underline: true;
}

.error {
    -fx-text-fill: red;
}

* {
    -fx-text-fill: -fx-contrast-col;
    -fx-font-family: "Roboto Serif 28pt";
}

.app {
    -fx-background-color: -fx-background-col;
}

.header-container {
    -fx-padding: 20;
}

.header-content {
    -fx-alignment: center;
    -fx-spacing: 10;
}

.button {
    -fx-background-color: -fx-foreground-col;
    -fx-padding: 20;
}

.button:hover {
    -fx-background-color: -fx-lighter-col;
}

.text-area * {
    -fx-background-color: -fx-foreground-col;
}

.date-picker * {
    -fx-text-fill: -fx-background-col;
}

.date-picker .text-field {
    -fx-text-fill: -fx-contrast-col;
}

.date-picker .button {
    -fx-background-color: none;
    -fx-text-fill: -fx-background-col;
    -fx-padding: 0;
}

.table-view * {
    -fx-background-color: -fx-background-col;
}

.choice-box .menu-item, .combo-box .list-cell {
    -fx-background-color: -fx-background-col;
}

.choice-box .menu-item:focused, .combo-box .list-cell:focused {
    -fx-background-color: -fx-lighter-col;
}

.combo-box .list-cell:focused {
    -fx-background-color: -fx-selector-col;
}

.combo-box .list-cell:hover {
    -fx-background-color: -fx-lighter-col;
}

.hyperlink {
    -fx-border-color: transparent;
    -fx-padding: 4 0 4 0;
}

.scroll-pane {
    -fx-background-color:transparent;
}

.scroll-pane > .viewport {
    -fx-background-color:transparent;
}

/* SMALL SCALING */

/* Misc sizes */

.small-scale .small-field {
    -fx-pref-width: 170;
}

.small-scale .tiny-field {
    -fx-pref-width: 90;
}

.small-scale .longer-button {
    -fx-pref-width: 180;
    -fx-padding: 10;
}

.small-scale .text-field, .choice-box, .combo-box {
    -fx-font-size: 16;
    -fx-pref-height: 24;
}

.small-scale .text-area {
    -fx-font-size: 16;
    -fx-pref-height: 110;
}

.small-scale .input-container {
    -fx-spacing: 20;
    -fx-pref-size: 300;
}


.small-scale .text-area, .text-field, .choice-box {
    -fx-background-color: -fx-foreground-col;
    -fx-pref-width: 275;
}

.small-scale .course-card {
    -fx-pref-width: 275;
    -fx-background-color: -fx-foreground-col;
    -fx-border-color: -fx-contrast-col;
    -fx-border-width: 2;
    -fx-padding: 10;
}

.combo-box {
    -fx-background-color: -fx-darker-col;
    -fx-pref-width: 180;
}

/* Some font sizes */

.small-scale .huge-title {
    -fx-font-size: 64;
}

.small-scale .large-title {
    -fx-font-size: 32;
}

.small-scale .medium-title {
    -fx-font-size: 24;
}

.small-scale .medium-text {
    -fx-font-size: 16;
}